<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.embryoai.acloud.mapper.sysOrgMapper">
  <resultMap id="BaseResultMap" type="com.embryoai.acloud.entity.sysOrg">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="org_name" jdbcType="VARCHAR" property="orgName" />
    <result column="org_district" jdbcType="VARCHAR" property="orgDistrict" />
    <result column="org_department" jdbcType="VARCHAR" property="orgDepartment" />
    <result column="org_address" jdbcType="VARCHAR" property="orgAddress" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
  </resultMap>
  <insert id="insert" parameterType="com.embryoai.acloud.entity.sysOrg">
    insert into sys_org (id, org_name, org_district, 
      org_department, org_address, create_time, 
      update_time, del_flag)
    values (#{id,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, #{orgDistrict,jdbcType=VARCHAR}, 
      #{orgDepartment,jdbcType=VARCHAR}, #{orgAddress,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.embryoai.acloud.entity.sysOrg">
    insert into sys_org
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orgName != null">
        org_name,
      </if>
      <if test="orgDistrict != null">
        org_district,
      </if>
      <if test="orgDepartment != null">
        org_department,
      </if>
      <if test="orgAddress != null">
        org_address,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgDistrict != null">
        #{orgDistrict,jdbcType=VARCHAR},
      </if>
      <if test="orgDepartment != null">
        #{orgDepartment,jdbcType=VARCHAR},
      </if>
      <if test="orgAddress != null">
        #{orgAddress,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>